@charset "UTF-8";

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

:focus {
  outline-color: #f26843;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;

  background-color: #f8f7f4;
  border-radius: 5px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-pack: distribute;
}

.input-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 11px 0;
  padding: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  color: #323232;

  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
          box-shadow: 0 0 0 1px #d3d3d2;
}

.input-field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.input-field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.input-field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.input-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.input-field:hover {
  -webkit-box-shadow: 0 0 0 2px #c7c6c5;
          box-shadow: 0 0 0 2px #c7c6c5;
}

.input-field:focus,
.input-field:active {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #8fbdec;
          box-shadow: 0 0 0 2px #8fbdec;
}

.page-container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-page {
  min-width: 900px;

  background-image: url("../img/slide_1.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
       -o-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-page::before,
.main-page::after {
  content: "";

  visibility: hidden;
}

.main-page::before {
  background-image: url("../img/slide_2.png");
}

.main-page::after {
  background-image: url("../img/slide_3.png");
}

.catalog-page {
  min-width: 900px;

  background-color: #849d8f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9db1a5), color-stop(40%, #849d8f));
  background-image: -webkit-linear-gradient(top, #9db1a5 0%, #849d8f 40%);
  background-image:      -o-linear-gradient(top, #9db1a5 0%, #849d8f 40%);
  background-image:         linear-gradient(to bottom, #9db1a5 0%, #849d8f 40%);
}

.content-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2.2%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
}

.popup {
  position: absolute;
  top: 100%;
  z-index: 10;

  padding-top: 5px;

  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.popup--left-aligned {
  left: 0;
}

.popup--right-aligned {
  right: 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link--light {
  color: #ffffff;
  text-decoration: underline;

  -webkit-text-decoration-color: #a9bbb1;
          text-decoration-color: #a9bbb1;
}

.link--light:hover,
.link--light:active,
.link--light:focus {
  color: #ffbc9e;

  -webkit-text-decoration-color: #a7a294;
          text-decoration-color: #a7a294;
}

.link--dark {
  color: #323232;
  text-decoration: underline;

  -webkit-text-decoration-color: #b2b2b2;
          text-decoration-color: #b2b2b2;
}

.link--dark:hover,
.link--dark:active,
.link--dark:focus {
  color: #e84d37;

  -webkit-text-decoration-color: #f9cdc4;
          text-decoration-color: #f9cdc4;
}

.button {
  display: inline-block;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:      -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  color: #fefefe;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:      -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
          box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#d74632), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d74632 0%, #e1613e 100%);
  background-image:      -o-linear-gradient(top, #d74632 0%, #e1613e 100%);
  background-image:         linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 #952718;
          box-shadow: inset 0 2px 2px 0 #952718;
}

.button-cancel {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.page-header {
  padding-top: 8px;
}

.menu {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.logo {
  align-self: flex-start;
  width: 154px;
  height: 64px;
  margin-right: 10px;
  padding-left: 1px;

  -ms-flex-item-align: start;
}

.navigation {
  min-width: 370px;
  margin-right: 10px;
}

.user-action {
  min-width: 255px;
  margin-left: auto;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  -ms-flex-wrap: wrap;
}

.navigation__item {
  position: relative;
  z-index: 10;

  padding: 8px 0;

  border-radius: 20px;
}

.navigation__link {
  padding: 8px 14px;

  border-radius: 20px;
}

.navigation__link--current {
  background-color: #d07058;
  border-bottom: none;
}

.navigation__label {
  border-bottom: 1px solid #adbdb4;
}

.navigation__item:hover .popup {
  visibility: visible;
}

.navigation__item:hover .navigation__link:not(.navigation__link--current) {
  background-color: #f7f6f3;
}

.navigation__item:hover .navigation__label:not(.navigation__label--current) {
  color: #333333;

  border-bottom: none;
}

.navigation__link:not(.navigation__link--current):active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.submenu {
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.submenu__item {
  margin-top: 4px;
  margin-bottom: 4px;

  vertical-align: middle;
}

.submenu__item:first-child {
  margin-top: 0;

  border-radius: 5px 5px 0 0;
}

.submenu__item:last-child {
  margin-bottom: 0;

  border-radius: 0 0 5px 5px;
}

.submenu__item--current {
  background-color: #d07058;
}

.submenu__link {
  display: block;
  margin: 0 5px;
  padding: 7px 15px 4px 15px;

  color: #323232;
  white-space: nowrap;
}

.submenu__link--important {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.submenu__link:last-child {
  padding-bottom: 10px;
}

.submenu__link--current {
  color: #ffffff;
}

.submenu__item:not(.submenu__item--current):hover {
  background-color: #fbded8;
}

.submenu__item:not(.submenu__item--current):active {
  background-color: #f6b5a5;
}

.user-action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.user-action__item {
  position: relative;

  margin-left: 10px;

  vertical-align: middle;
}

.user-action__link {
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.search__link {
  display: block;
  padding: 7px 8px 5px 8px;
}

.auth__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 16px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.order__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 6px 19px 6px 16px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.auth__link::after {
  content: "Вход";

  padding-left: 6px;
}

.order__link--full {
  padding: 6px 17px 6px 16px;

  color: #323232;

  background-color: #f7f6f3;
}

.order__link--empty::after {
  content: "Пусто";

  padding-left: 6px;
}

.order__link--full::after {
  content: "2 товара";

  padding-left: 6px;
}

.search__icon,
.auth__icon {
  fill: #ffffff;
}

.user-action__item:not(.order__link--empty):hover .popup {
  visibility: visible;
}

.user-action__item:not(.order__link--empty):hover .user-action__link {
  color: #323232;

  background-color: #f7f6f3;
}

.user-action__item:hover .search__icon,
.user-action__item:hover .auth__icon,
.user-action__item:hover .order__icon--stroke {
  fill: #343434;
}

.order__link--full .order__icon--stroke {
  fill: #343434;
}

.order__link--full .order__icon--fill {
  fill: #e84d37;
}

.order__link--empty .order__icon--stroke {
  fill: #ffffff;
}

.order__link--empty .order__icon--fill {
  fill: transparent;
}

.input-field--search {
  width: 300px;
}

.auth__submit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 240px;
  margin: 10px 0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.auth__submit-button {
  align-self: center;
  padding-right: 25px;
  padding-left: 25px;

  border-radius: 25px;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
}

.input-field--auth {
  width: 100%;
}

.auth__help-link {
  display: block;
  width: 124px;
  margin-left: 10px;

  font-size: 13px;
  line-height: 24px;
}

.order__wrapper {
  z-index: 100;

  padding: 10px 15px 20px 15px;

  text-align: right;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.order__table {
  border-bottom: 1px solid #cacac7;
}

.order__item {
  height: 50px;

  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.order__cancel {
  padding-right: 10px;
}

.order__button--cancel {
  position: relative;

  display: block;
  width: 15px;
  height: 15px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.order__button--cancel::before,
.order__button--cancel::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  width: 15px;
  height: 1px;

  background-color: #231f20;
}

.order__button--cancel::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.order__button--cancel::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.order__image {
  width: 33px;
  height: 33px;
  padding-right: 10px;

  vertical-align: center;
}

.order__name {
  min-width: 218px;
  padding-right: 25px;

  word-wrap: break-word;
}

.order__weight {
  min-width: 100px;
  padding-right: 20px;
}

.order__extra {
  color: #999999;
}

.order__price {
  min-width: 50px;
  padding-right: 15px;
}

.order__total {
  margin: 0;
  padding: 15px 0 15px 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.menu__extra {
  position: absolute;
  top: 100%;
  right: 0;

  width: 170px;
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.menu__extra .open-hours {
  margin: 0 0 5px 0;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.menu__extra .phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
  text-align: right;
  text-decoration: none;
}

/*********************************************************************
SLIDER
**********************************************************************/
.slider {
  position: relative;
  z-index: 1;

  margin-bottom: 42px;
  padding-top: 319px;

  text-align: center;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: none;
}

.slider__lead {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider__link {
  display: inline-block;
  padding: 10px 42px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  vertical-align: middle;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider__controls {
  position: absolute;
  bottom: 20px;

  text-align: center;
}

.slider__control {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 2px;

  vertical-align: middle;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider__control:hover {
  background-color: rgba(255,255,255,0.4);
}

.slider__control:active {
  background-color: #ffffff;
}

.slider-switcher {
  display: none;
}

#slider-radio-1:checked ~ .main-page {
  background-color: #849d8f;
  background-image: url("../img/slide_1.png");
}

#slider-radio-2:checked ~ .main-page {
  background-color: #8996a6;
  background-image: url("../img/slide_2.png");
}

#slider-radio-3:checked ~ .main-page {
  background-color: #9d8b84;
  background-image: url("../img/slide_3.png");
}

#slider-radio-1:checked ~ .main-page #slide-1,
#slider-radio-2:checked ~ .main-page #slide-2,
#slider-radio-3:checked ~ .main-page #slide-3 {
  display: block;
}

#slider-radio-1:checked ~ .main-page .slider__control[for="slider-radio-1"],
#slider-radio-2:checked ~ .main-page .slider__control[for="slider-radio-2"],
#slider-radio-3:checked ~ .main-page .slider__control[for="slider-radio-3"] {
  background-color: #ffffff;
}

.promo {
  margin-bottom: 20px;
}

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48.87%;
  margin-bottom: 20px;
  padding: 16px 19px 23px 19px;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 15px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.promo__item--raspberry {
  background-color: #a7203b;
  background-image: url("../img/raspberry.jpg");
}

.promo__item--chocolate {
  background-color: #6e422a;
  background-image: url("../img/chocolate.jpg");
}

.promo__title {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  min-height: 66px;
  margin-top: 15px;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.promo__link {
  display: block;
  align-self: flex-end;
  margin-top: auto;
  padding: 10px 24px 12px 23px;

  -ms-flex-item-align: end;
}

.product {
  margin-bottom: 44px;
}

.popular__list,
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  -ms-flex-align: stretch;
  -ms-flex-line-pack: stretch;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.product__item {
  position: relative;

  width: 23.5%;
  margin-top: -0.5%;
  margin-bottom: -3.9%;
  padding: 0.5% 1% 2% 1%;

  text-align: center;
}

.product__item:nth-child(4n) {
  margin-right: -1%;
}

.product__item:nth-child(4n+1) {
  margin-left: -1%;
}

.product__item:hover {
  z-index: 2;

  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.product__item:hover .product__button {
  visibility: visible;
}

.product__container {
  position: relative;

  max-width: 267px;
  margin-bottom: 7px;
}

.product__name {
  max-width: 257px;
  margin: 0 auto 15px auto;
  padding: 0 0 44px 0;

  text-align: center;
}

.product__button {
  position: absolute;
  bottom: 4%;
  left: 50%;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 44px;
  margin-top: auto;
  padding: 10px 10px;
  overflow: hidden;

  vertical-align: middle;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  visibility: hidden;
}

.product__container--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background: #ffffff url("../img/hit.svg") no-repeat center;
  border-radius: 50%;
}

.product__image {
  width: 100%;
  height: auto;

  border-radius: 50%;
}

.product__price {
  position: absolute;
  bottom: 14px;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);

  -webkit-box-align: baseline;
  -webkit-box-pack: start;
  -ms-flex-align: baseline;
  -ms-flex-pack: start;
}

.product__currency {
  padding-left: 5px;

  font-weight: 500;
}

.product__unit {
  font-size: 30px;
}

.product__amount {
  position: relative;

  padding-right: 37px;
}

.product__amount::after {
  content: url(../img/rouble.svg);
  position: absolute;
  top: 3px;
  right: 2px;

  width: 31px;
  height: 36px;
}

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.about {
  position: relative;
  z-index: 1;

  margin-bottom: 40px;
  padding: 25px 20px 2px 20px;

  color: #323232;

  background: #eee0c4 url("../img/waffle.jpg") repeat center;
  border-radius: 15px;
}

.about__title {
  margin: 0 0 20px 0;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.features__item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49%;
  padding-bottom: 22px;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
}

.features__item:nth-child(odd) {
  margin-right: 2%;
}

.features__item:nth-child(even) {
  padding-left: 59px;
}

.features__item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;

  display: block;
  width: 49px;
  height: 49px;
}

.features__item--ice-cream::before {
  background: url("../img/ice_cream.svg") no-repeat;
}

.features__item--cow::before {
  background: url("../img/cow.svg") no-repeat;
}

.features__item--leaf::before {
  background: url("../img/leaf.svg") no-repeat;
}

.features__item--thermo::before {
  background: url("../img/thermometer.svg") no-repeat;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 48.85%;
  margin-bottom: 20px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 15px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.news {
  background-image: url("../img/strawberry.jpg");
}

.subscribe {
  background-image: url("../img/bg-post.svg");
}

.new {
  width: 290px;
  margin: 18px 20px;
}

.new__title {
  margin: 5px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.new__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.8);

  -webkit-text-decoration-color: #353535;
          text-decoration-color: #353535;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 5px;
  padding: 29px 20px 34px 22px;

  background-color: #f8f7f4;
  border-radius: 15px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.subscribe__info {
  min-height: 102px;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.input-field--subscribe {
  flex-grow: 1;
  margin: 0 10px 0 0;
  padding: 9px 13px 10px 13px;

  font-size: 16px;
  line-height: 24px;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.input-field--subscribe::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--subscribe:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--subscribe::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--subscribe::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.button--subscribe {
  padding: 9px 20px 12px 20px;
}

.map {
  position: relative;

  margin: 20px 0 0 0;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 430px;

  background: url("../img/map.png") no-repeat center;
}

.contacts-container {
  position: relative;

  min-height: 430px;
}

.contacts {
  position: absolute;
  top: 50%;
  right: 2.2%;
  z-index: 2;

  width: 260px;
  padding: 20px 21px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contacts__address {
  margin: 7px 4px 17px 4px;
}

.contacts__phone {
  margin: 0 4px 25px 4px;
}

.contacts__desc {
  margin: 0 0 2px 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__phone-extra {
  margin: 0 0 10px 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__phone-desc {
  margin: 0 0 4px 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts__data {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone-data {
  margin: 0 0 2px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.feedback {
  text-align: center;
}

.feedback__button--open {
  margin-bottom: 10px;
  padding: 9px 27px 10px 27px;
}

.feedback__button--close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.feedback__button--close::before,
.feedback__button--close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;

  width: 21px;
  height: 2px;

  background-color: #231f20;
}

.feedback__button--close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback__button--close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback__button--submit {
  align-self: flex-end;

  -ms-flex-item-align: end;
}

.modal {
  display: none;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.feedback__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 426px;
  padding: 16px 26px 25px 26px;

  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.3);
}

.overlay-show {
  display: block;
}

.feedback__lead {
  width: 410px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.input-field--feedback {
  align-self: flex-start;
  width: 267px;
  padding: 9px 14px;

  font-size: 16px;
  line-height: 24px;

  -ms-flex-item-align: start;
}

.input-field--feedback::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--feedback:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--feedback::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--feedback::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--textarea {
  width: auto;
  height: 155px;
  margin: 10px 0 25px 0;
  padding: 9px 14px;

  font-size: 16px;
  line-height: 24px;
}

.input-field--textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.input-field--textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.page-footer {
  padding-top: 17px;
  padding-bottom: 30px;
}

.page-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.social {
  width: 190px;
}

.info {
  width: 310px;
}

.copyright {
  align-self: flex-start;
  width: 190px;

  font-size: 12px;
  line-height: 18px;

  -ms-flex-item-align: start;
}

.copyright__logo {
  width: 108px;
  height: 39px;
  margin-left: 2px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 19px 0 0 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.social__item {
  width: 32px;
  height: 32px;
  margin-right: 11px;
  margin-bottom: 11px;

  font-size: 0;

  border: 3px solid rgba(255,255,255, 0.5);
  border-radius: 50%;
}

.social__item:nth-child(4n) {
  margin-right: 0;
}

.social__item:hover,
.social__item:active {
  border-color: rgba(255,255,255, 0.7);
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;

  color: #ffffff;

  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  opacity: 0.8;
}

.social__link:hover {
  opacity: 1;
}

.social__link:active {
  opacity: 0.8;
}

.social__link--twit {
  background-image: url(../img/twitter.svg);
}

.social__link--inst {
  background-image: url(../img/instagram.svg);
}

.social__link--fb {
  background-image: url(../img/fb.svg);
}

.social__link--vk {
  background-image: url(../img/vk.svg);
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-content: flex-start;
  margin: 2px 0 0 5px;
  padding: 0;

  list-style: none;
  white-space: nowrap;

  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
}

.info__item {
  flex-basis: 46%;

  -ms-flex-preferred-size: 46%;
}

.info__link {
  font-size: 13px;
  line-height: 18px;
}

.info__link--important {
  position: relative;

  font-weight: 700;
}

.info__link--important::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;

  width: 15px;
  height: 13px;

  background: url("../img/heart.svg") no-repeat center;
}

.copyright__link {
  display: block;
}

.copyright__text {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.crumbs {
  margin-top: 26px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
}

.crumbs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.crumbs__item {
  display: inline-block;

  vertical-align: middle;
}

.crumbs__item span {
  margin: 0 4px;
}

.filter {
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter__group {
  display: inline-block;
  margin: 0 2px 0 2px;
  padding: 0 7px 15px 0;

  vertical-align: middle;

  border-style: none;
}

.filter__group:nth-child(3) {
  padding-right: 0;
}

.filter__title {
  margin-bottom: 5px;
  margin-left: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter__wrapper {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.sort-container {
  position: relative;
}

.filter__sort {
  width: 193px;
  padding: 9px 30px 8px 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 20px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter__sort::-ms-expand {
  display: none;
}


.sort-arrow {
  position: absolute;
  top: 50%;
  right: 15px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sort-arrow__polyline {
  fill: #ffffff;
}

.filter__sort:hover,
.filter__sort:focus {
  color: #323232;
}

.filter__sort:hover + .sort-arrow .sort-arrow__polyline,
.filter__sort:focus + .sort-arrow .sort-arrow__polyline {
  fill: #323232;
}

.filter__price {
  display: inline-block;
  margin: 0;

  vertical-align: middle;
}

.filter__price {
  display: inline-block;
  margin: 0;

  vertical-align: middle;
}

.filter__price input {
  width: 27px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range {
  position: relative;

  padding: 16px 21px;
}

.range__scale {
  width: 176px;
  height: 4px;

  background: #cbd4cd;
}

.range__bar {
  width: 106px;
  height: 4px;
  margin-left: 15px;

  background: #f8f7f4;
}

.range__toggle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle:hover,
.range__toggle:focus,
.range__toggle:active {
  top: 7px;

  border: 9px solid #ffffff;
}

.range__toggle--min {
  left: 34px;
}

.range__toggle--max {
  right: 66px;
}

.filter__wrapper--fatness {
  padding: 8px 14px 10px 17px;
}

.filter__fatness {
  display: inline-block;
  margin-right: 16px;
  padding-left: 29px;

  vertical-align: middle;

  cursor: pointer;
}

.filter__fatness:last-child {
  margin-right: 2px;
}

.filter__fatness-option {
  position: relative;
}

.filter__fatness-option::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;

  width: 8px;
  height: 8px;

  background-color: #9db1a5;
  border: 4px solid #9db1a5;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #eef1ef;
          box-shadow: 0 0 0 3px #eef1ef;
}

.filter__fatness-option:hover::before,
.filter__fatness-option:focus::before {
  -webkit-box-shadow: 0 0 0 3px #ffffff;
          box-shadow: 0 0 0 3px #ffffff;
}

.filter__fatness-radio:focus + .filter__fatness-option {
  outline: 1px solid #f26843;
}

.filter__fatness-radio:checked + .filter__fatness-option::before {
  background-color: #eef1ef;
}

.filter__fatness-radio:checked + .filter__fatness-option:hover::before {
  background-color: #ffffff;
}

.filter__fatness-radio:checked:disabled + .filter__fatness-option::before {
  background-color: #b5c4bc;
}

.filter__fatness-radio:disabled + .filter__fatness-option::before {
  -webkit-box-shadow: 0 0 0 3px #b5c4bc;
          box-shadow: 0 0 0 3px #b5c4bc;
}

.filter__wrapper--topping {
  padding: 9px 14px 9px 17px;
}

.filter__topping {
  position: relative;

  display: inline-block;
  margin-right: 18px;
  padding-left: 30px;

  vertical-align: middle;

  cursor: pointer;
}

.filter__topping:nth-child(n+3) {
  margin-right: 21px;
}

.filter__topping:last-child {
  margin-right: 3px;
}

.checkbox--unchecked,
.checkbox--checked {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;

  fill: #eef1ef;
}

.checkbox--checked {
  display: none;
}

.filter__topping:hover .checkbox--unchecked,
.filter__topping:focus .checkbox--unchecked,
.filter__topping:hover .checkbox--checked,
.filter__topping:focus .checkbox--checked {
  fill: #ffffff;
}

input[type="checkbox"]:focus + .filter__topping-name {
  outline: 1px solid #f26843;
}

input[type="checkbox"]:disabled + .filter__topping-name .checkbox--unchecked,
input[type="checkbox"]:disabled + .filter__topping-name .checkbox--checked {
  fill: #b5c4bc;
}

input[type="checkbox"]:checked + .filter__topping-name .checkbox--checked {
  display: block;
}

input[type="checkbox"]:checked + .filter__topping-name .checkbox--unchecked {
  display: none;
}

.filter__button {
  margin: 5px 0 0 1px ;
  padding: 9px 28px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 0 2px #fbfcfb;
          box-shadow: inset 0 0 0 2px #fbfcfb;
}

.filter__button:hover {
  color: #323232;

  background-color: #fbfcfb;
}

.filter__button:active {
  color: #323232;

  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog__footer {
  padding-bottom: 30px;

  border-bottom: 1px solid #a9bbb1;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: right;

  -webkit-box-align: center;
  -webkit-box-pack: end;
  -ms-flex-align: center;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
}

.pagination__icon-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__item {
  margin-right: 5px;
}

.pagination__item:first-child {
  margin-right: 6px;
}

.pagination__item:last-child {
  margin-right: -7px;
}

.pagination__link {
  display: inline-block;
  padding: 4px 8px 3px 8px;

  vertical-align: middle;

  border-radius: 50%;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255,255,255,0.2);
}

.pagination__link--current,
.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link:active {
  color: #323232;

  background-color: rgba(255,255,255,1);
}

.pagination__link .pagination__icon-shape,
.pagination__link:hover .pagination__icon-shape,
.pagination__link:focus .pagination__icon-shape {
  fill: #fcfcfc;
}

.pagination__link:active .pagination__icon-shape {
  fill: #323232;
}

.pagination__link--disabled,
.pagination__link--disabled:hover,
.pagination__link--disabled:focus,
.pagination__link--disabled:active {
  background-color: transparent;
}

.pagination__link--disabled .pagination__icon-shape,
.pagination__link--disabled:hover  .pagination__icon-shape,
.pagination__link--disabled:focus  .pagination__icon-shape,
.pagination__link--disabled:active .pagination__icon-shape {
  fill: #9db1a5;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
  40% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
  80% {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
  40% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
  80% {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
}
