.about {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__image {
  border-radius: 50%;
  margin-bottom: 30px;
}

.about__text {
  font-family: $font-arial;
  line-height: 24px;
  text-transform: none;
  width: 100%;
  text-align: justify;

  @media (min-width: $width-tablet) {
    width: 70%;
    text-align: center;
  }
}

.about__socials {
  display: flex;

  @include list-reset();

  @media (min-width: $width-mobile) {
    margin: 20px 0;
  }

  @media (min-width: $width-mobile) {
    margin: 20px 0 40px 0;
  }
}