.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 15px 9px 15px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-family: $font-oswald;
  border-radius: 2px;
  margin: 0;
  color: $text-color;
  font-size: 24px;
  letter-spacing: 2px;

  @include text-style(16px, 20px);

  &--sort {
    margin: 5px;
    padding: 5px 5px 5px 5px;
    width: 45%;
    letter-spacing: 1px;
    border: 1px solid darken(#546a76, 10%);
    border-radius: 5px;
    background-color: lighten(#546a76, 40%);
    color: darken(#546a76, 10%);
  }

  &--image {
    font-size: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--left {
    background-image: url("../img/vector/left-arrow.svg");
  }

  &--right {
    background-image: url("../img/vector/right-arrow.svg");
  }

  &--reset {
    width: 100%;
    border: 1px solid darken(#b4ceb3, 40%);
    background-color: lighten(#b4ceb3, 10%);
    color: darken(#b4ceb3, 40%);
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $width-tablet) {
    &--sort {
      width: 30%;
      font-size: 16px;
    }

    &--image {
      font-size: 0;
      width: 35px;
      height: 35px;
    }

    &--reset {
      width: 100%;
      margin: 20px 5px;
    }
  }
}
